<li><%= link_to "Blog", posts_path %></li>
<li><%= @tag.name %></li>

<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post_path(post) %></h2>

    <div class="date">
      <span class="glyphicon glyphicon-time"></span>
      <%= post.published_date.strftime("%B %d, %Y") %>
    </div>

    <p><%= post.snippet %></p>
    <%= link_to "Read more &rarr;".html_safe, post_path(post) %>
  </div>
<% end %>